{% extends 'layout.html' %}
{% block content %}
    {% if articles %}
    {% for article in articles %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ article.author }}</a>
              <small class="text-muted">{{ article.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ article.title }}</a></h2>
            <p class="article-content">{{ article.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% else %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Self</a>
              <small class="text-muted">Just now</small>
            </div>
            <h2><a class="article-title" href="#">Nothing</a></h2>
            <p class="article-content">No articles was found</p>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Want to create an article?<a class="ml-2" href="{{ url_for('new_article') }}">Press here</a>
                </small>
            </div>
            </div>
        </article>
    {% endif %}
{% endblock content %}
